@import "./theme.scss";

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  color: $ui-dark;
}
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
