$ui-main: #7d71ff;
$ui-main-light: #efe9ff;
$ui-light: #ffffff;
$ui-dark: #070045;
$ui-blue-light: #9abfcc;
$ui-orange: #eb7e51;
$ui-orange-light: #ffe6c7;
$ui-green-light: #bae6a8;
$ui-green-dark: #0d423a;
$ui-green-dark-2: #8dcea0;

@mixin display-flex {
  display: flex;
}

@mixin align-items($value) {
  align-items: $value;
}

@mixin justify-content($value) {
  justify-content: $value;
}
