$ui-main: #7d71ff;
$ui-main-light: #efe9ff;
$ui-light: #ffffff;
$ui-dark: #efe9ff;
$ui-blue-light: #9abfcc;
$ui-orange: #eb7e51;
$ui-orange-light: #ffe6c7;
$ui-green-light: #bae6a8;
$ui-green-dark: #46704f;
