* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  font-weight: 400;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-baseline {
  align-items: baseline;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

._row {
  flex-direction: row;
}

.jc-between {
  justify-content: space-between;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.relative {
  position: relative;
}

.br-100 {
  border-radius: 100px;
}

.text-light {
  font-weight: 300;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.as-flex-end {
  align-self: flex-end;
}

.h100p {
  height: 100%;
}

.border {
  border: 1px solid #ccc;
}
